*{
  transition: all 0.3s ease;
}
.view-container{
  width: 100%;
  padding: 20px 3vw;
}
.view-container-box{
  box-shadow:0 10px 25px rgba(0,0,0,.15);
  border-radius: 10px;
  padding: 30px 3vw;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Product Data */
.product-data{
  padding: 20px 20px;
  width: 45%;
}
.product-data form{
  gap: clamp(20px,2vw,30px);
  display: flex;
  flex-direction: column;
}
.product-data form .price-section,.product-data form  .type-section{
  display: flex;
  justify-content: space-between;
  gap: clamp(20px,2vw,30px);
}
.product-data form .price-section input{
  width: 75%;
}
.product-data form .price-section h2,.product-data form .type-section h2{
  align-content: center;
}
.product-data form input{
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  height: 35px;
  padding: 0px 10px;
  border-radius: 10px;
  border-color: #ee0652;
  border-style: solid;
}
.product-data form #brandName:hover{
  background-color: #ee0652;
  color: white;
  cursor: not-allowed;
}
.product-data form textarea{
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid #ee0652;
}
.product-data form .type-section select{
  padding: 5px 5px;
  border-radius: 10px;
  border: 2px solid #ee0652;
  font-size: 20px;
  font-family: "league Spartan", sans-serif;
  width: 75%;
}
.product-data form .product-submit{
  align-self: center;
  width: 100%;
  height: 40px;
  background-color: #ee0652;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: "League Spartan", sans-serif;
}
.product-data form .product-submit:hover{
  background-color: #bb0542;
}
.description-section{
  display: flex;
  justify-content: space-between;
}
.ask-ai-button{
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: #ee0652;
  color: white;
  font-family: "League Spartan", sans-serif;
  border: none;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  font-size: 15px;
  align-items: center;
}
.ask-ai-button:hover{
  background-color: #bb0542;
  cursor: pointer;
}
.ask-ai-button img{
  width: 15px;
  align-self: center;
}

/* Product Image */
.product-image{
  padding: 20px 20px;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: clamp(20px,2vh,30px);
}
.image-box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-box .preview-image{
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  align-self: center;
  border-radius: 10px;
}
.other-images{
  display: flex;
  gap: clamp(10px,1vh,30px);
  width: 100%;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  align-content: center;
}
.thumbnail{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  flex-shrink:0;
  scroll-snap-align:center;
}
.thumbnail img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.other-images::-webkit-scrollbar{
    display: none;
}

@media (max-width: 868px){
  .view-container-box{
    height: 100%;
    flex-direction: column;
  }
  .product-image{
    height: 55%;
    width: 100%;
  }
  .product-data{
    height: 45%;
    width: 100%;
  }
}